@model RMS.Models.KatalogViewModel
@{
    ViewBag.Title = "KatalogDuzenle";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link href="~/Content/katalog.css" rel="stylesheet" />


<link href="~/Content/YemekKatalog/KatalogDuzenle/KatalogDuzenle.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Content/Modal.css" rel="stylesheet" />
<link href="~/Content/marquee.css" rel="stylesheet" />


<div class="row d-flex justify-content-center  ">

    <h2>Katalog Düzenle</h2>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <div class="jumbotron row shadow" id="partial">

                @Html.Action("Ozellik")

            </div>





        </div>
    </div>

    <div class="toast-container" style="position: fixed; top: 0; right: 0; padding: 20px; z-index: 1050; pointer-events: none;">
        <div class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" style="pointer-events: all; min-width:300px;">
            <div class="toast-header">
                <i class="fa fa-bell mr-3"></i>
                <strong class="mr-auto">Bildirim</strong>
                <small></small>
                <button type="button" class="ml-2 mb-1 close close-toast" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" id="deneme">

            </div>
        </div>
    </div>
</div>

<script src="~/Content/YemekKatalog/KatalogDuzenle/KatalogDuzenle.js"></script>
