/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body {
    background-color: #EEEEEE;
}

.panel {
    background-color: #f7f7f9;
}

.table {
    --bs-table-bg: transparent;
}

.sections .section {
    display: none;
}

.ds-btn li {
    list-style: none;
    padding: 10px;
}

    .ds-btn li a span {
        min-width: 160px;
        padding-left: 15px;
        padding-right: 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
    }

        .ds-btn li a span small {
            width: 100%;
            display: inline-block;
            text-align: left;
        }

.bi-x-circle:hover {
}